.heading{
  color: red;
  font-size: 34px;
}

.profile-header{
  border: 2px solid red;
}

.pofile-content{
  border: 2px solid red;
    height: 85vh;
    display: flex;
}

.profile-sidebar{
  border: 2px solid red;
    width: 20%;
    height: 100%;
}

.profile-sub-screens{
  border: 2px solid red;
    width: 80%;
    height: 100%;
}

.text-highlight{
  color: red;
}

.map-box{
  border: 3px solid red;
  width: 200px;
  margin-left: 50px;
}

.label{
  width: 175px;
  display: inline-block;
}

.space{
  margin-bottom: 5px;
}

.textbox{
  width: 200px;
}

.vertical-center{
  display: flex;
  align-items: center;
}

.content{
  height: 300px;
  border: 2px solid;
  padding: 25px;
}

.error-msg{
  color: red;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.small-box{
  display: inline-block;
    width: 50px;
    height: 15px;
    border: 2px solid;
    margin-left: 15px;
}

.user-wrap{
  border: 5px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.user-content{
  width: 100px;
    height: 100px;
    border: 3px solid;
    margin: 15px;
}

.calander-icon{
  color: #dc3545;
  font-size: 15px;
}