.heading{
  color: red;
  font-size: 34px;
}

.profile-header{
  border: 2px solid red;
}

.pofile-content{
  border: 2px solid red;
    height: 85vh;
    display: flex;
}

.profile-sidebar{
  border: 2px solid red;
    width: 20%;
    height: 100%;
}

.profile-sub-screens{
  border: 2px solid red;
    width: 80%;
    height: 100%;
}

.text-highlight{
  color: red;
}

.map-box{
  border: 3px solid red;
  width: 200px;
  margin-left: 50px;
}

.label{
  width: 175px;
  display: inline-block;
}

.space{
  margin-bottom: 5px;
}

.textbox{
  width: 200px;
}

.vertical-center{
  display: flex;
  align-items: center;
}