/* 
Element Selector or HTML Name Selector
h1{
  color: rgb(95, 13, 150);
}

p{
  color: yellow;
} */

/* ID Selector
#heading{
  color: green;
} */

/* Class Selector */
.heading-text{
  color: blue;
  /* background-color: black; */
  text-align: center;
  /* text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
  text-decoration-thickness: 2px; */
  text-decoration: underline black solid 5px;
  text-transform: capitalize;
}

.paragraph{
  text-indent: 100px;
  letter-spacing: 5px;
  line-height: 3.5;
  word-spacing: 10px;
}

.absolute-section{
  height: 200px;
  width: 500px;
  background-color: blueviolet;
}

.bgcolor{
  /* background-color: aquamarine; */
}

.relative-section{
  height: 25vh;
  width: 50vw;
  background-color: brown;
}

.perentage-section{
  width: 50%;
  height: 50%;
  background-color: black;
}